* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0b12;
  font-family: "Bebas Neue", cursive;
 
}

.bg-my-dark {
  background: #0b0b12;
}

.bg-my-orange {
  background: #d84703;
}

.bg-my-gold {
  background: #a7690f;
}

.bg-my-brown {
  background: rgb(40, 27, 19);
}

.bg-my-beige {
  background: #bd8247;
}

.font-my-dark {
  color: #0b0b12;
}

.font-my-orange {
  color: #d84703;
}

.font-my-gold {
  color: #a7690f;
}

.font-my-brown {
  color: #281b13;
}

.font-my-beige {
  color: #bd8247;
}

.font-my-grey{
color: #413f3f9c;
}

.border-my-orange{
border-color: #d84703;
}

.border-my-gold{
border-color: #a7690f;
}

.border-my-brown{
border-color: #281b13;
border: solid 2px #281b13;
}

.border-my-beige{
border-color: #bd8247;
}

.bg-beer-effect{
background: #ECECEC;
background: -moz-linear-gradient(top, #ECECEC 0%, #BD8247 38%, #A7690F 100%);
background: -webkit-linear-gradient(top, #ECECEC 0%, #BD8247 38%, #A7690F 100%);
background: linear-gradient(to bottom, #ECECEC 0%, #BD8247 38%, #A7690F 100%);
-webkit-box-shadow: 0px 11px 10px 3px rgba(0,0,0,0.93); 
box-shadow: 0px 11px 10px 3px rgba(0,0,0,0.93);
border:none;
}
